.App{
  text-align: center;
}
h1{
  color:white;
}
.grid{
  padding: 10px;
}
.card{
  height:150px;
  cursor:pointer;
}

.container{
 
  padding:10px;
  color:white;
  display: flex;
  flex-direction: row;
  text-align: left;
}
.image{
  flex:1;
  padding:10px;
  
}
img{
  height:300px;
}
.details{
  flex:2;

}
.pagination {
  display:flex;
  color:white;
  list-style-type: none;
  justify-content: space-evenly;
  cursor:pointer;

}

